<div class="margin-10">
  <div class="form-group">
    <input type="text" [(ngModel)]="phoneDetail.firstName" class="form-control" placeholder="First Name">
  </div>
  <div class="form-group">
    <input type="text" [(ngModel)]="phoneDetail.lastName" class="form-control" placeholder="Last Name">
  </div>
  <div class="form-group">
    <input type="text" [(ngModel)]="phoneNumber" class="form-control" placeholder="Phone Number">
  </div>
  <div class="form-group">
    <div>
      <button class="btn btn-success margin-left-10 margin-right-10 " (click)="updatePhoneDetail()">Update Phone</button>

    </div>


  </div>

</div>

